<footer>
    <nav class="footer-nav">
        <ul class="footer-nav-list">
            <li class="footer-nav-list__item">
                <img src="/assets/images/ionpulse.svg" alt="Pulse" class="footer-nav-list__img">
            </li>

            <li class="footer-nav-list__item">
                <img src="/assets/images/ionmic.svg" alt="Mic" class="footer-nav-list__img">
            </li>

            <li class="footer-nav-list__item">
                <img src="/assets/images/ionsignal.svg" alt="Pulse" class="footer-nav-list__img footer-nav-list__img_center">
            </li>

            <li class="footer-nav-list__item">
                <img src="/assets/images/ionmode.svg" alt="Pulse" class="footer-nav-list__img">
            </li>

            <li class="footer-nav-list__item">
                <img src="/assets/images/ionsettings.svg" alt="Pulse" class="footer-nav-list__img">
            </li>
        </ul>
    </nav>
</footer>