<header>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a class="nav-list__link" href="">
                    <img class="nav-list__img" src="/assets/images/arrow-back.svg" alt="Arrow back">
                </a>
            </li>
            <li class="nav-list__item">
                <h2 class="nav-list__heading">FEATURED</h2>
            </li>
            <li class="nav-list__item">
                <img src="/assets/images/ionsearch.svg" alt="Search" class="nav-list__search">
            </li>
        </ul>
    </nav>
</header>