@import "modules/variables";
@import "modules/loader";
@import "modules/nav";
@import "modules/forside";
@import "modules/featured";
@import "modules/albums";
@import "modules/albums-releases";
@import "modules/album-details";
@import "modules/song-list";
@import "modules/categories";
@import "modules/playlist-section";
@import "modules/playlist-songs";
@import "modules/player";
@import "modules/nav-footer";

body {
  font-family: var(--main-font);
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}