@import "modules/variables";
@import "modules/loader";
@import "modules/nav";
@import "modules/featured";
@import "modules/albums";
@import "modules/albums-releases";
@import "modules/album-details";
@import "modules/song-list";
@import "modules/categories";
@import "modules/playlist-section";
@import "modules/playlist-songs";
@import "modules/player";
@import "modules/nav-footer";

* {
  transition: background 0.25s ease-out;
  transition-property: background color;
  user-select: none;
}

body {
  font-family: var(--main-font);
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  margin: 0;
  padding: 0;
  background: var(--main-background);
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}
