@keyframes popUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.releases {
  padding: 20px 25px 0;
}

.releases__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.releases__heading {
  font-weight: bold;
  font-size: 0.9375rem;
  color: var(--color);
}

.releases__view {
  text-decoration: none;
  background: var(--main-gradient);
  max-width: 200px;
  font-size: 0.9375rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.releases-list {
  list-style: none;
  margin: 0 0 100px 0;
  padding: 0;
}

.releases-list__item {
  margin: 15px 0;
  display: flex;
  width: 100%;
}

.releases-list__item_anim {
  animation: popUp 1s;
}

.releases-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color);
}

.releases-list__img-container {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}
.releases-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.releases-list__heading {
  margin: 0;
  width: 45vw;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.releases-list__artist {
  font-size: 0.75rem;
  margin: 2px 0 0 0;
}

.releases-list__songs-amount {
  font-size: 0.875rem;
  margin-left: auto;
  color: var(--color);
}
