.album-details {
  width: 100%;
  height: 400px;
  background: url("https://via.placeholder.com/375x700");
  background-position: center top;
  background-size: cover;
  box-sizing: border-box;
  padding: 80px 25px 0 25px;
  background-repeat: no-repeat;
}

.album-details__heading {
  font-size: 2.25rem;
  color: var(--color-heading);
  margin: 0;
}

.album-details__songs-amount {
  font-size: 0.9375rem;
  color: var(--color-heading);
  margin: 0;
}

.album-details__genre {
  font-size: 0.875rem;
  color: var(--color-heading);
  margin-top: 100px;
}

.genre-list {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.genre-list__item {
  background: #ff1168;
  color: var(--color-heading);
  font-size: 0.9375rem;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
  border-radius: 50px;
}
