.albums {
  padding: var(--padding);
}

.albums__heading {
  background: var(--main-gradient);
  font-size: 2rem;
  font-weight: bold;
  max-width: 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.albums-featured__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.albums-featured__heading {
  font-weight: bold;
  font-size: 0.9375rem;
  color: var(--color);
}

.albums-featured__view {
  text-decoration: none;
  background: var(--main-gradient);
  max-width: 200px;
  font-size: 0.9375rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured-album-list {
  list-style: none;
  padding: 0;
  top: 225px;
  left: 20px;
  position: absolute;
  display: flex;
}

.featured-album-list__item {
  width: 130px;
  margin: 0 7.5px;
  height: 130px;
}

.featured-album-list__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
