.featured {
  padding: 80px 0px 100px;
}

.featured__heading {
  background: var(--main-gradient);
  font-size: 2rem;
  font-weight: bold;
  max-width: 200px;
  margin-left: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.featured-list__item {
  height: 460px;
  transition: opacity 1s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  margin: 50px 25px;
  position: relative;
  max-width: 350px;
  border-radius: 3%;
}

.featured-list__container {
  position: absolute;
  left: 25px;
  top: 0;
  z-index: 1;
}

.featured-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
}

.featured-list__heading {
  word-break: break-word;
  color: var(--color-heading);
  z-index: 1;
  font-size: 2rem;
  margin: 0;
  padding-top: 300px;
}

.featured-list__desc {
  font-weight: 300;
  color: var(--color-heading);
  font-size: 0.75rem;
  margin: 0;
  z-index: 1;
}
