.footer-nav {
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.15);
}

.footer-nav-list {
  margin: 0;
  padding: 10px 32px;
  box-sizing: border-box;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.footer-nav-list__item {
  cursor: pointer;
}

.footer-nav-list__img {
  height: 25px;
}

.footer-nav-list__img_center {
  height: 50px;
}

//Theme
.path-light-select {
  fill: $path-light-select !important;
}

.path-dark-select {
  fill: $path-dark-select !important;
}
