.playlist {
  padding-top: 80px;
}

.playlist__heading {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 25px;
  color: var(--color-heading);
}

.playlist__background {
  position: absolute;
  top: 0;
  height: 300px;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.playlist-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.playlist-list__item {
  width: 155px;
  height: 155px;
  margin: 0 25px;
  -webkit-box-shadow: 0px 0px 47px -18px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 47px -18px rgba(0, 0, 0, 0.45);
  transition: transform .2s;
  box-shadow: 0px 0px 47px -18px rgba(0, 0, 0, 0.45);
}

.playlist-list__item:not(.is-selected){
  transform: scale(0.8);
}

.playlist-list__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
