.playlist-songs {
  padding: 0 25px;
  margin: 200px 0 100px 0;
  box-sizing: border-box;
}

.playlist-songs__heading {
  font-weight: bold;
  color: var(--color-heading);
  font-size: 0.9375rem;
}

.playlist-songs-list {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.playlist-songs-list__item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.playlist-songs-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playlist-songs-list__img-container {
  width: 30px;
  cursor: pointer;
  height: 30px;
  margin: 0 20px 0 0;
}
.playlist-songs-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlist-songs-list__heading {
  margin: 0;
  font-size: 0.875rem;
  width: 45vw;
  color: var(--color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.playlist-songs-list__artist {
  font-size: 0.75rem;
  color: var(--color);
  margin: 2px 0 0 0;
}

.playlist-songs-list__length {
  font-size: 0.875rem;
  color: var(--color);
  margin-left: auto;
}

.playlist-songs__top-songs,
.playlist-songs__songs {
  text-align: center;
  margin: 0;
  color: var(--color);
}

.listen-btn {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  border: 4px #ff1168 solid;
  color: #ff1168;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 30px;
  cursor: pointer;
}

.listen-btn:hover {
  background: rgba(255, 17, 104, 0.2);
  transform: scale(1.05);
}
