$main-font: 'Poppins', sans-serif;
$main-background: #fff;
$heading-color: #341931;
$padding: 80px 25px 100px;
$main-gradient: -webkit-linear-gradient(left, #EE0979, #FF6A00);
$path-light-select: #000;
$path-dark-select: #fff;